body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(-45deg,#0f2027,#203a43,#2c5364,#1f4037);
background-size:400% 400%;
animation:bgMove 12s ease infinite;
color:white;
}

@keyframes bgMove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:rgba(0,0,0,0.2);
backdrop-filter:blur(20px);
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
text-align:center;
margin-top:100px;
}

.big-title{
font-size:60px;
font-weight:bold;
}

.tagline{
opacity:0.7;
margin-bottom:40px;
}

.ai-box{
background:rgba(255,255,255,0.08);
backdrop-filter:blur(20px);
padding:20px;
border-radius:20px;
display:inline-block;
box-shadow:0 0 30px rgba(0,0,0,0.4);
}

input{
padding:15px;
width:400px;
border:none;
border-radius:10px;
}

.verify-btn{
padding:15px 25px;
background:#00ffb3;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
box-shadow:0 0 15px #00ffb3;
}

.verify-btn:hover{
box-shadow:0 0 30px #00ffb3;
}

.loader{
display:none;
margin:30px auto;
border:6px solid rgba(255,255,255,0.2);
border-top:6px solid #00ffb3;
border-radius:50%;
width:50px;
height:50px;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{transform:rotate(360deg)}
}

.result{
margin-top:30px;
padding:20px;
border-radius:20px;
background:rgba(0,0,0,0.4);
width:500px;
margin-left:auto;
margin-right:auto;
}